.btn {
    outline: none !important;
    box-shadow: none !important;
}

div,
svg,
input,
select,
textarea,
span,
img,
table,
label,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.hj-query-btn {
    min-width: 76px;
}

.btn-success {
    border-color: #1890ff;
    background-color: #1890ff;
    color: #fff;
    height: 34px;
}

.btn {
    font-size: 14px;
}

.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
    background-color: #1890ff
}

.btn-success:visited {
    border-color: #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.btn-success:hover {
    border-color: #40a9ff;
    background-color: #40a9ff;
    color: #fff;
}

.btn-success:focus {
    border-color: #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.btn-success:active {
    border-color: #1890ff !important;
    background-color: #1890ff !important;
    color: #fff;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus.btn-success:active:focus,
.btn-success:active:hover,
.open>.btn-success.dropdown-toggle.focus,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    border-color: #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.btn.green:not(.btn-outline) {
    border: #1890ff;
    background-color: #1890ff;
    color: #fff;
}

a {
    background-color: transparent;
    color: #1890ff;
}

a:hover {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s;
}

a:focus {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s;
}

a:active {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s;
}