/* 多标签样式*/

@import "../../plugin/metronic/components.css";
@import "../../plugin/metronic/plugins.css";
@import "../../plugin/nth.tabs/css/nth.tabs.css";
@import "../../css/skin1/hj-nth-tabs.css";
@import "../../css/skin1/hj-breadcrumb.css";
@import "../../css/skin1/hj-input.css";
@import "../../css/skin1/hj-button.css";
@import "../../css/skin1/hj-scroll-bar.css";
@import "../../css/skin1/hj-table.css";
@import "../../css/skin1/hj-checkbox.css";
@import "../../css/skin1/hj-radio-group.css";
@import "../../css/hj-grid.css";
@import "../../css/skin1/hj-modal.css";
body {
    overflow: hidden;
}

.page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-content-wrapper .page-content {
    transition: all .2s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 210px;
}


/* .hj-nav-bar-fixed .page-container {
    margin-top: 65px;
} */


/* .page-content-wrapper .page-content.offset80 {
    margin-left: 80px !important;
}

.page-content-wrapper .page-content.offset256 {
    margin-left: 256px !important;
}

.page-sidebar-custom.navbar-collapse.collapse.offset256 {
    display: block !important;
} */


/*分配员工页面样式*/

.pagecontainer{box-sizing: border-box; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; position: absolute;  width: 100%;  height: 100%;  top: 0;padding-top: 54px;}

.form-inline .form-group.queryspanContainer{display: block;margin-bottom: 7px; margin-top: -12px;}
.queryspanContainer+.text-left{font-size: 0;}
.queryspanContainer+.text-left input{border-right: 0}

.pagecontainer.assign .portlet{height: 100%;}
.assign .portlet.light .portlet-body{overflow-y: hidden;height: -moz-calc(100% - 122px);height: -webkit-calc(100% - 122px);height: calc(100% - 122px);}
.assign .portlet.light .portlet-body{overflow-y: hidden;height:auto}
.assign .bootstrap-table .fixed-table-body{overflow-y: auto;}
.assign .hjcol-md-2{position: relative;  top: 50%;transform: translateY(-78px);-webkit-transform: translateY(-78px);-moz-transform: translateY(-78px);-o-transform: translateY(-78px);-ms-transform: translateY(-78px);padding-top: 0;min-height: 65px}
#lbTotal,#leftTotal,#rightTotal{color:#ff6000;}