/* .portlet > .portlet-title > .caption {
    font-size: 0
} */


/* .caption button{margin-right: 10px;font-size: 14px;} */

.form-query {
    font-size: 0;
}

.form-query>button {
    font-size: 14px
}

.form-query>div.form-group:nth-last-of-type(1)>input,
.form-query>div.form-group:nth-last-of-type(1)>select {
    margin-right: 0 !important;
}

.form-query label {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.form-query .form-group input {
    margin-right: 0
}


/* 聚焦 */

.form-control {
    outline: none !important;
    box-shadow: none !important;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #40a9ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2) !important;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, .2) !important;
    -moz-box-shadow: 0 0 0 2px rgba(24, 144, 255, .2) !important;
}

/*textarea,input,select*/
.d-flex label{
    white-space: nowrap;
    margin-bottom: 0;
}

.control-label+.form-check-inline{
    padding-left: 15px;
}