.bootstrap-table .table {
    border-bottom: 0;
}

.fixed-table-container {
    border-top: 0;
    border-color: #edf2f9;
}

.table-advance thead tr th {
    background-color: #f7fafc;
    font-size: 14px;
    font-weight: 400;
    color: #6e84a3;
}

.bootstrap-table .no-records-found {
    background-color: transparent !important;
}