.hj-w100 {
    width: 100px !important;
}

.hj-w150 {
    width: 150px !important;
}

.hj-w200 {
    width: 200px !important;
}

.hj-w250 {
    width: 250px !important;
}

.hj-w300 {
    width: 300px !important;
}

.hj-mt-5 {
    margin-top: 5px !important;
}

.hj-mt-10 {
    margin-top: 10px !important;
}

.hj-mt-15 {
    margin-top: 15px !important;
}

.hj-mt-20 {
    margin-top: 20px !important;
}


/* magin-bottom简写 */

.hj-mb-5 {
    margin-bottom: 5px !important;
}

.hj-mb-10 {
    margin-bottom: 10px !important;
}

.hj-mb-15 {
    margin-bottom: 15px !important;
}

.hj-mb-20 {
    margin-bottom: 20px !important;
}


/* magin-left简写 */

.hj-ml-5 {
    margin-left: 5px !important;
}

.hj-ml-10 {
    margin-left: 10px !important;
}

.hj-ml-15 {
    margin-left: 15px !important;
}

.hj-ml-20 {
    margin-left: 20px !important;
}


/* magin-right简写 */

.hj-mr-5 {
    margin-right: 5px !important;
}

.hj-mr-10 {
    margin-right: 10px !important;
}

.hj-mr-15 {
    margin-right: 15px !important;
}

.hj-mr-20 {
    margin-right: 20px !important;
}